.course-fee{
	padding-top: 38px;
	.title{
		h3{
			color: #3a96d2;
			@include openSanNormal(36px);
			background: url(../images/icon-dollar.png) no-repeat left center;
			padding: 5px 0 5px 60px;
		}
	}

	.upgrade{
		h4{
			display: none;
		}
		.container{
			width: 100%;
		}
		.upgradebox{
			width: 360px;
		}
	}

	.section {
		padding-top: 40px;
	}

	.upgradeTable {
		a {
			display: none;
		}
	}
}

