.payment{
	padding-top: 30px;
	color: #5d6670;
	.title{
		border-bottom: 1px solid #dee4e8;
		width: 860px;
		margin-left: 100px;
		h3{
			color: #3a96d2;
			@include openSanNormal(36px);
			background: url(../images/icon-document.png) no-repeat left center;
			padding-left: 60px;
		}
	}

	.tablecell{
		padding-top: 25px;
		text-align: center;

		h4{
			@include openSanNormal(16px);
			margin-left: 60px;
			margin-left: 200px;
    		margin-bottom: 15px;
		}
	}

	.section {
		padding-top: 38px;
	}

	.paymentbox{
		border: 1px solid #edf4f8;
		text-align: center;
		width: 368px;
		display: inline-block;
		margin-right: 25px;
		&.last{
			margin-right: 0;
		}
		.head{
		padding-bottom: 17px;
			border-bottom: 1px solid #edf4f8;
			h5{
				color: #3b97d3;
				@include openSanBold(25px);
				margin-top: 19px;
				    margin-bottom: 25px;
			}
			h2{
				color: #3b97d3;
				@include openSanBold(60px);
				line-height: 1;
				margin:0;
			}
			span{
				color: #3b97d3;
				@include openSanBold(15px);
			}
		}
		.upCon{
			padding: 5px 0;
			input[type='radio']{
				margin: 0 15px 0;
				vertical-align: middle;
			}

			span{
				@include openSanNormal(14px);
				vertical-align: middle;
			}
		}
		a{
			background: #5d6670;
			color: #fff;
			@include openSanSimiBold(14px);
			text-transform: uppercase;
			padding: 11px 44px;
			@include border-radius(0);
			display: table;
			margin: 23px auto 0;
			&:hover{
				background: #3b97d3;
			}
		}
	}
}
.paymentTable{
.tbpayment{
	width: 772px;
	margin: 0 auto;
}
	.tbhead{
		padding: 22px 0;

		.col{
			float: left;
			@include openSanSimiBold(14px);
			color: #5d6670;
			&.col1{
				width: 272px;

				&.bold {
					font-weight: bold;
				}
			}
			&.col2{
				width: 34px;
			}
			&.col3{
				width: 262px;
				float: right;
				text-align: center;

				&.total {
					@include openSanSimiBold(18px);
					font-weight: bold;
				}
			}

			&.payment-way {
				&.col1{
					width: 450px;
				}
				&.col2{
					width: 100px;

					input[type="radio"]{
						margin-top: 8px;
					}
				}
			}
		}

		input[type="text"]{
			@include openSanNormal(14px);
			border: 1px solid #000000;
			color: #535353;
			height: 30px;
		    outline: none;
			&::-webkit-input-placeholder { /* WebKit browsers */
			    color:    #535353;
			}
			&:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
			    color:    #535353;
			}
			&::-moz-placeholder{ /* Mozilla Firefox 19+ */
			    color:    #535353;
			}
			&:-ms-input-placeholder{ /* Internet Explorer 10+ */
			    color:    #535353;
			}

			&.visa-code, &.paypal-code {
				width: 230px;
			}
			&.date {
				width: 80px;
				margin-left: 10px;
			}
			&.ccv {
				width: 80px;
				margin-left: 10px;
			}
		}
	}
}