.payment{
	padding-top: 30px;
	color: #5d6670;
	.title{
		border-bottom: 1px solid #dee4e8;
		width: 860px;
		margin-left: 100px;
		h3{
			color: #3a96d2;
			@include openSanNormal(36px);
			background: url(../images/icon-dollar.png) no-repeat left center;
			padding: 5px 0 5px 60px;
		}
	}

	.tablecell{
		padding-top: 60px;
		text-align: center;

		h4{
			@include openSanNormal(24px);
			margin-left: 200px;
    		margin-bottom: 35px;
		}
	}

	.section {
		padding-top: 38px;
	}

	.paymentbox{
		border: 1px solid #edf4f8;
		text-align: center;
		width: 368px;
		display: inline-block;
		margin-right: 25px;
		&.last{
			margin-right: 0;
		}
		.head{
		padding-bottom: 17px;
			border-bottom: 1px solid #edf4f8;
			h5{
				color: #3b97d3;
				@include openSanBold(30px);
				margin-top: 40px;
    			margin-bottom: 15px;
			}
			h2{
				color: #3b97d3;
				@include openSanBold(60px);
				line-height: 1;
				margin:0;
			}
			span{
				color: #3b97d3;
				@include openSanBold(15px);
			}
		}
		.upCon{
			padding: 5px 0;
			input[type='radio']{
				margin: 0 15px 0;
				vertical-align: middle;
			}

			span{
				@include openSanNormal(14px);
				vertical-align: middle;
			}
		}
	}
}
.paymentTable{
	.tbpayment{
		width: 772px;
		margin: 0 auto;
	}
	.tbhead{
		padding: 22px 0;

		.col{
			float: left;
			color: #5d6670;
			&.col1{
				width: 570px;
				text-align: left;

				&.total-label {
					@include openSanNormal(24px);
				}

				&.subtitle {
					@include openSanBold(24px);
				}
			}
			&.col2{
				width: 200px;
				float: left;

				&.total-value {
					@include openSanBold(36px);
				}
			}

			&.payment-way {
				&.col1{
					width: 450px;
				}
				&.col2{
					width: 100px;

					input[type="radio"]{
						margin-top: 8px;
					}
				}
			}
		}
	}
}

.paymentTable {
	input[type="radio"]{
		    float: left;
	    margin-top: 12px;
	    margin-right: 18px;
	}
	img{
		float: left;
		margin-right: 18px;
	}
	.ccjs-card {
		padding-top: 0;
		label.lb {
		    margin-bottom: 25px;
		}
	}
	div.number{
		width: 290px;
		float: left;
		margin-right: 13px;
	}
	input[type="text"]{
		border: 1px solid #ccc;
		width: 93%;
		height: 35px;
		@include openSanNormal(21px);
		color: #5d6670;
		float: left;
		padding: 0 10px;
		@include colorplaceholder(#354455);
		&.expire, &.ccv{
			text-align: center;
			width: 98px;
			margin-right: 13px;
		}
		&.payemail{
			width: 269px;
			margin-right: 260px;
			float: left;
		}
	}

	input[type="submit"]{
		&.btn{
			margin-top: 60px;
		}
	}
}