
/* ! PRIMARY STYLES */
html, body{width:100%; min-width:640px; }
body {
	font: $fontArial12; color:#fff;
	background: #010102;
}
a, a:focus{text-decoration: none;}
.clear{clear:both;}

.content700{width:700px;}
.content820{width:820px;}
.content890{width:890px;}
.content940{width:940px;}

.wrapper{
  margin: 0 auto;
  position: relative;
}
.section{
	padding-top: 55px;
}

.btn {
	color: #fff;
	
}
.btn.btnblue{
	background: #3b97d3;
	padding: 12px 42px 10px;
	@include openSanSimiBold(14px);
	@include border-radius(17px);
}
.hasborder{
	border-top: 1px solid #dee4e8;
}
section a:focus{
	outline: none;
	text-decoration: none;
}
.alignleft{
	text-align: left!important;
}


/*UPLOAD BUTTON*/
.fileUpload {
    position: relative;
    overflow: hidden;
    padding: 18px 23px;
    border: 2px solid #cccccc;
    display: inline-block;
    span{
      @include openSanNormal(12px);
    color: #5d6670;
    }
    &.error{
      border-color: #5d6670;
    }
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.padtop65{
	padding-top: 65px;
}